// сброс для нормалайза

html {
  box-sizing: border-box;
  font-family: Geometria;
}

*, *:before, *:after {
box-sizing: inherit;
}

// picture {
//   margin: 0;
//   padding: 0;
//   border: 0;
//   font-size: 0;
// }

ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

// Шрифты
@import 'fonts.less';
// Блок хэдэр
@import 'blocks/header.less';
// Блок навигации
@import 'blocks/navigation.less';
// слайдер
@import 'blocks/slider.less';
// каталог
@import 'blocks/catalog.less';

// цвета
@white: #ffffff;
@black: #171717;
@nav: #413471;
@nav-hover: #241D3E;
@callback: #6d5cad;;


// центровщик
.block-center {
  margin: 0 auto;
  width: 1170px;
}

//Значение параметра примеси по умолчанию
.padding-container(@padding: 15px) {
  padding-left: @padding;
  padding-right: @padding;
}