html,
body {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Geometria;
}
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
@font-face {
  font-family: Bad-script;
  src: url(../fonts/bad_script.ttf);
  font-display: swap;
}
@font-face {
  font-family: Geometria;
  src: url(../fonts/Geometria-Medium.woff);
  font-display: fallback;
}
body {
  font-family: "Geometria", "Tahoma", sans-serif;
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  min-height: 110px;
  outline: 1px dashed #000;
}
.header__container-logo {
  min-width: 270px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  outline: 1px dashed red;
}
.header__logo {
  display: inline-block;
}
.header__logo-link {
  margin-left: 8px;
  font-family: Bad-script;
  color: black;
  font-size: 36px;
  font-weight: 400;
  line-height: 24px;
}
.header__contacts {
  margin-top: 28px;
  padding: 0 34px;
  -webkit-box-flex: 5;
      -ms-flex-positive: 5;
          flex-grow: 5;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.header__item,
.header__link {
  color: #171717;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.header__item::before {
  content: "";
  background-image: url(../../img/paw-icon.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: -35px;
  width: 24px;
  height: 21px;
}
.header__item {
  margin-left: 95px;
  position: relative;
}
.nav {
  width: 100%;
  background-color: #413471;
  margin-bottom: 56px;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 1170px;
  padding-left: 50px;
  padding-right: 50px;
}
.nav__item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}
.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  line-height: 56px;
}
.nav__link:hover {
  background-color: #241D3E;
}
.nav__callback {
  position: relative;
  margin-left: 56px;
  width: 218px;
  height: 43px;
  border-radius: 22px;
  background-color: #6d5cad;
  text-align: center;
}
.nav__callback::before {
  content: "";
  background-image: url(../../img/call.svg);
  position: absolute;
  background-repeat: no-repeat;
  width: 14px;
  height: 15px;
  top: 14px;
  left: 24px;
  cursor: pointer;
}
.nav__callback-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 8px;
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  line-height: 43px;
}
.slider {
  margin: 0 auto;
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 112px;
  height: 488px;
  outline: 1px dashed #000;
}
.catalog {
  margin: 0 auto;
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 124px;
  outline: 1px dashed gold;
}
.catalog__title {
  margin-bottom: 88px;
  text-align: center;
  color: #171717;
  font-size: 48px;
  font-weight: 500;
  line-height: 24px;
}
.catalog__galery {
  -webkit-column-width: 360px;
     -moz-column-width: 360px;
          column-width: 360px;
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.catalog__item {
  position: relative;
  margin-bottom: 30px;
  display: block;
  background: #fff;
  z-index: 1;
}
.catalog__item::before {
  content: attr(data-title);
  position: absolute;
  bottom: 0;
  padding-left: 24px;
  width: 100%;
  height: 42px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #333333;
  text-align: left;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  line-height: 42px;
}
.catalog__item:hover::before {
  background-color: #413471;
  background-image: -webkit-gradient(linear, right top, left top, from(#7ac398), to(#01abce));
  background-image: linear-gradient(to left, #7ac398 0%, #01abce 100%);
}
.wrapper,
.footer {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.footer {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  width: 100%;
  background-color: #d3d3d0;
  background-image: url(../../img/points-bg.png);
}
.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 1170px;
  padding: 33px 15px 0 15px;
  min-height: 133px;
}
.footer__agreements a {
  text-decoration: underline;
}
.footer__agreements a,
.footer__item,
.footer__link {
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
}
.footer__contacts {
  text-align: right;
}
.footer__item {
  margin-bottom: 10px;
}
.block-center {
  margin: 0 auto;
  width: 1170px;
}

/*# sourceMappingURL=style.css.map */
