html,
body {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Geometria;
}
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
@font-face {
  font-family: Bad-script;
  src: url(../fonts/bad_script.ttf);
  font-display: swap;
}
@font-face {
  font-family: Geometria;
  src: url(../fonts/Geometria-Medium.woff);
  font-display: fallback;
}
body {
  font-family: "Geometria", "Tahoma", sans-serif;
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  min-height: 110px;
}
.header__container-logo {
  min-width: 270px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.header__logo {
  display: inline-block;
}
.header__logo-link {
  margin-left: 8px;
  font-family: Bad-script;
  color: black;
  font-size: 36px;
  font-weight: 400;
  line-height: 24px;
}
.header__contacts {
  margin-top: 28px;
  padding: 0 34px;
  -webkit-box-flex: 5;
      -ms-flex-positive: 5;
          flex-grow: 5;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.header__item,
.header__link {
  color: #171717;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.header__item::before {
  content: "";
  background-image: url(../../img/paw-icon.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: -35px;
  width: 24px;
  height: 21px;
}
.header__item {
  margin-left: 95px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .header {
    width: 768px;
    margin: 35px auto 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__logo-link {
    font-size: 40px;
  }
  .header__container-logo {
    margin: 0 auto;
  }
  .header__contacts {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
@media screen and (max-width: 375px) {
  .header {
    width: 375px;
  }
}
.nav {
  width: 100%;
  background-color: #413471;
  margin-bottom: 56px;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 1170px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #413471;
}
.nav__item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}
.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  line-height: 56px;
}
.nav__link:hover {
  background-color: #241D3E;
}
.nav__callback {
  position: relative;
  margin-left: 56px;
  width: 218px;
  height: 43px;
  border-radius: 22px;
  background-color: #6d5cad;
  text-align: center;
}
.nav__callback::before {
  content: "";
  background-image: url(../../img/call.svg);
  position: absolute;
  background-repeat: no-repeat;
  width: 14px;
  height: 15px;
  top: 14px;
  left: 24px;
  cursor: pointer;
}
.nav__callback-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 8px;
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  line-height: 43px;
}
.none {
  display: none;
}
@media screen and (max-width: 768px) {
  .nav__list {
    position: fixed;
    top: 0;
    height: 40px;
    width: 768px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 200;
  }
  .nav__list:hover {
    height: 65%;
  }
  .none {
    display: block;
  }
  .nav__item {
    width: 100%;
  }
  .nav__callback {
    margin-left: 0;
    margin-bottom: 15px;
  }
  .nav__link {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 375px) {
  .nav__list {
    width: 375px;
  }
}
.modal-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 111;
}
.modal {
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 111;
}
.modal-close {
  position: relative;
  border-radius: 30%;
  left: 100%;
}
.hide {
  display: none;
}
form {
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px #cccccc;
          box-shadow: 0 0 10px #cccccc;
}
label {
  display: block;
  margin-bottom: 5px;
}
input {
  width: 95%;
  margin-bottom: 10px;
  padding: 2px 5px;
  font-family: "Roboto", sans-serif;
  border: 1px solid #cccccc;
  border-radius: 5px;
}
input[type="text"] {
  height: 24px;
}
input[type="submit"] {
  display: inline-block;
  width: auto;
  margin: 0 5px;
  padding: 6px 15px;
  color: #ffffff;
  background-color: #2c3e50;
  border: none;
  border-radius: 5px;
}
.buttons {
  margin-top: 10px;
  text-align: center;
}
.slider-container {
  margin: 0 auto;
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 112px;
}
.slick-dots li button:before {
  font-size: 25px !important;
  top: -37px;
}
.slick-prev:before,
.slick-next:before {
  display: none;
}
.slick-prev {
  left: 21px;
  z-index: 100;
  height: 39px;
  width: 22px;
  background-image: url(../../img/arr-left.svg) !important;
  background-repeat: no-repeat !important;
}
.slick-prev:hover {
  background-image: url(../../img/arr-left-hover.svg) !important;
}
.slick-next {
  right: 21px;
  z-index: 100;
  height: 39px;
  width: 22px;
  background-image: url(../../img/arr-right.svg) !important;
  background-repeat: no-repeat !important;
}
.slick-next:hover {
  background-image: url(../../img/arr-right-hover.svg) !important;
}
@media screen and (max-width: 768px) {
  .slider-container {
    width: 768px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 375px) {
  .slider-container {
    width: 375px;
    margin-bottom: 0;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.catalog {
  position: relative;
  margin: 0 auto;
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 124px;
}
.catalog__title {
  margin-bottom: 40px;
  text-align: center;
  color: #171717;
  font-size: 48px;
  font-weight: 500;
  line-height: 24px;
}
.line {
  display: block;
  margin: 0 auto 40px auto;
  width: 118px;
  height: 8px;
  background-image: url(../../img/line.svg);
  background-repeat: repeat-x;
  background-position: 0 100%;
  background-size: auto 8px;
  z-index: 4;
}
.catalog__galery {
  -webkit-column-width: 360px;
     -moz-column-width: 360px;
          column-width: 360px;
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.catalog__item {
  position: relative;
  margin-bottom: 30px;
  display: block;
  background: #fff;
  z-index: 1;
}
.catalog__item::before {
  content: attr(data-title);
  position: absolute;
  bottom: 0;
  padding-left: 24px;
  width: 360px;
  height: 42px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #333333;
  text-align: left;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  line-height: 42px;
}
.catalog__item:hover::before {
  background-color: #413471;
  background-image: -webkit-gradient(linear, right top, left top, from(#7ac398), to(#01abce));
  background-image: linear-gradient(to left, #7ac398 0%, #01abce 100%);
}
@media screen and (max-width: 768px) {
  .catalog {
    width: 768px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .catalog__galery {
    -webkit-column-width: 355px;
       -moz-column-width: 355px;
            column-width: 355px;
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }
  .line {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
@media screen and (max-width: 375px) {
  .catalog {
    width: 375px;
    margin-bottom: 0;
    padding-left: 0px;
    padding-right: 0px;
  }
  .catalog__galery {
    margin: 0;
    padding: 0;
    -webkit-column-width: 0px;
       -moz-column-width: 0px;
            column-width: 0px;
    -webkit-column-count: 0;
       -moz-column-count: 0;
            column-count: 0;
    -webkit-column-gap: 0px;
       -moz-column-gap: 0px;
            column-gap: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .catalog__title {
    font-size: 36px;
    margin: 50px 0;
  }
  .catalog__item,
  .catalog__img {
    width: 100%;
    display: block;
  }
  .catalog__item::before {
    width: 100%;
  }
}
.wrapper,
.footer {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.footer {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  width: 100%;
  background-color: #d3d3d0;
  background-image: url(../../img/footer.png);
}
.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 1170px;
  padding: 33px 15px 0 15px;
  min-height: 133px;
  background-color: #d3d3d0;
  background-image: url(../../img/footer.png);
}
.footer__agreements a {
  text-decoration: underline;
}
.footer__agreements a,
.footer__item,
.footer__link {
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
}
.footer__contacts {
  text-align: right;
}
.footer__item {
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .footer__main {
    width: 768px;
  }
  .footer__agreements a,
  .footer__item,
  .footer__link {
    font-size: 20px;
  }
}
@media screen and (max-width: 375px) {
  .footer__main {
    width: 375px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__agreements {
    margin-bottom: 20px;
  }
}
.block-center {
  margin: 0 auto;
  width: 1170px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*# sourceMappingURL=style.css.map */
